<% if flash[:notice] %>
  <div class = "flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class = "cover">
  <div class = "text">
    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Body:</strong>
      <%= @book.body %>
    </p>
  </div>

  <%= link_to "Edit", edit_book_path(@book) %>|
  <a class="back" href="/books">Back</a>
</div>